.padd {
  margin-left: auto;
  margin-right: auto;
}
.topp {
  margin-top: 40px;
}
.wii {
  width: 45px;
}
.fields {
  margin-top: 2px;
  padding: 0;
  background-color: blue;
  height: 30px;
  width: 255px;
}
