<div class="grid grid-cols-4 gap-5 mt-5 ml-5 mr-5">
    <mat-card class="rounded-2xl border-2 border-gray-600">
        <mat-card-title>Dr. SS Shahai</mat-card-title>
        <mat-card-subtitle>Consulting now</mat-card-subtitle>
        <div class="w-full h-8 bg-gray-200 mb-2">
            <div class="w-20 h-8 absolute bg-green-400">
                <span class="flex justify-center mt-1">IN</span>
            </div>
        </div>
        <div class="w-full h-8 bg-gray-200">
            <div class="w-20 h-8 absolute bg-yellow-400">
                <span class="flex justify-center mt-1">NEXT</span>
            </div>
        </div>
    </mat-card>

    <mat-card class="rounded-2xl border-2 border-gray-600">
        <mat-card-title>Dr. SS Shahai</mat-card-title>
        <mat-card-subtitle>Consulting now</mat-card-subtitle>
        <div class="w-full h-8 bg-gray-200 mb-2">
            <div class="w-20 h-8 absolute bg-green-400">
                <span class="flex justify-center mt-1">IN</span>
            </div>
        </div>
        <div class="w-full h-8 bg-gray-200">
            <div class="w-20 h-8 absolute bg-yellow-400">
                <span class="flex justify-center mt-1">NEXT</span>
            </div>
        </div>
    </mat-card>

    <mat-card class="rounded-2xl border-2 border-gray-600">
        <mat-card-title>Dr. SS Shahai</mat-card-title>
        <mat-card-subtitle>Consulting now</mat-card-subtitle>
        <div class="w-full h-8 bg-gray-200 mb-2">
            <div class="w-20 h-8 absolute bg-green-400">
                <span class="flex justify-center mt-1">IN</span>
            </div>
        </div>
        <div class="w-full h-8 bg-gray-200">
            <div class="w-20 h-8 absolute bg-yellow-400">
                <span class="flex justify-center mt-1">NEXT</span>
            </div>
        </div>
    </mat-card>

    <mat-card class="rounded-2xl border-2 border-gray-600">
        <mat-card-title>Dr. SS Shahai</mat-card-title>
        <mat-card-subtitle>Consulting now</mat-card-subtitle>
        <div class="w-full h-8 bg-gray-200 mb-2">
            <div class="w-20 h-8 absolute bg-green-400">
                <span class="flex justify-center mt-1">IN</span>
            </div>
        </div>
        <div class="w-full h-8 bg-gray-200">
            <div class="w-20 h-8 absolute bg-yellow-400">
                <span class="flex justify-center mt-1">NEXT</span>
            </div>
        </div>
    </mat-card>
</div>