<div class="ml-auto mr-auto mt-11 w-max">
    <mat-card>
        <mat-card-title>Appoinment Booking System</mat-card-title>
        <mat-card-subtitle>Forget-password</mat-card-subtitle>
        <form [formGroup]="forgetPasswordForm">
            <div class="grid grid-cols-1 gap-x-0.5">
                <div>
                    <mat-form-field class="w-80 form-group" floatLabel="always" appearance="outline"
                        placeHolder="Enter Your Email Address">
                        <mat-label>Email</mat-label>
                        <div>
                            <input class="ce form-group" formControlName="email" type="email" matInput required />
                            <!-- <mat-icon>email</mat-icon> -->
                        </div>
                        <mat-error
                            *ngIf="forgetPasswordForm['controls'].email.invalid && (forgetPasswordForm['controls'].email.dirty || forgetPasswordForm['controls'].email.touched)">
                            <span *ngIf="forgetPasswordForm['controls'].email.errors?.required">
                                <!-- {{validationMsg.FIELD_IS_REQUIRED}} -->
                                This field is required
                            </span>
                            <span *ngIf="forgetPasswordForm['controls'].email.errors?.pattern">
                                <!-- {{validationMsg.FIELD_IS_REQUIRED}} -->
                                Email id is invalid.
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <a class="ml-48 text-blue-800 underline" [routerLink]="['/auth/login']">Back to login page</a>
                </div>
                <div>
                    <div class="d-grid gap-2">
                        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>